{% if li is defined and li == true %}<li class="{{ classItem }}">{% endif %}
    <a class="{{ classLink }}" href="{{ item.url }}">{{ item.name }}</a>
{% if li is defined and li == true %}</li>{% endif %}
