{% extends '@template/layout.html.twig' %}

{% block title %} {{ category.name }}{% endblock %}

{% block main %}
    <h1>{{ category.name }}</h1>

    {%include '@template/breadcrumb/view.html.twig' with {
        'breadcrumbElements' : {
            'home' : {
                'name': 'Home',
                'path' : path('homepage'),
            },
            'category' : {
                'name': category.name,
                'active' : true,
            },
        },
        'currentRoute' : 'category.view'
    } %}
    <hr>
    <div class="row">
        {% for p in category.product %}
            {% include '@template/product/product_card.html.twig' with { 'level' : level }%}
        {% endfor %}
    </div>
{% endblock %}
