<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand mx-5" href="{{ navigation.homepage_link.url }}">{{ navigation.homepage_link.name }}</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">

                    {# Menu déroulant catégories #}
                    {% include '@template/navbar/molecules/nav-item-dropdown.html.twig' with {
                        'main_title' : "Catégories",
                        'header_title' : "Nos catégories phares",
                        'header' : 'h6',
                        'entities' : navigation.categories_link,
                        'footer_url' : path('category.list'),
                    }  %}
                    {# Fin menu déroulant #}

                    {% for navItem in navigation %}
                        {% if navItem.type is defined and navItem.type == 'item' %}
                            {% include '@template/navbar/atoms/nav-item.html.twig' with {
                                'item' : navItem,
                                'classItem' : 'nav-item',
                                'classLink' : 'nav-link',
                                'li' : true,
                            } %}
                        {% endif %}
                    {% endfor %}
                </ul>

                {# Formulaire recherche produit #}
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                {# Fin recherche produit #}

            </div>
        </div>
    </nav>
</header>
