{% extends 'admin/layout.html.twig' %}

{% block title %}New category{% endblock %}

{% block main %}

        <h1>New Category</h1>

        {{ form_start(formView) }}

        {{ form_errors(formView) }}

        <div class="row">
            <div class="col-8">
                {{ form_row(formView.name) }}
                {{ form_row(formView.slug) }}
            </div>
        </div>

{% endblock %}
