{% extends 'front/layout.html.twig' %}

{% block main %}
    <h1>E-CO 5.4</h1>
    <hr>

    <div class="row">
        {% for p in products %}
            {% include('front/product/product_card.html.twig') with {
                'level' : 'sm',
                'header' : 'h5',
            } %}
        {% endfor %}
    </div>
    <hr>
{% endblock %}
